extends layout 

block content
        h1(id="AboutHeader") About The Team
        div(class="topnav")
                a(class="active" href="#home") User
                a(href="#news") Categories
                a(href="#about") About 
                a(href="#review") Write a Review
                h1(id="HomepageHeader") CineSearch
        
        h2 Omar 
                p A senior at Bellarmine
        h2 Bobby 
                p Bobby Gabriel is a senior at Bellarmine University and is studying C.S. 
        h2 Isaiah 
        h2 Spencer