doctype html 
html 
    head 
        title CineSearch
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
    body
        div(class="main") 
            block content
   
        div(class="topnav")
            a(href="/") Home
            a(href="categories") Categories
            a(href="design_artifacts") Design Artifacts
            a(href="results") Search
            h1(id="HomepageHeader") CineSearch
        
        br

        footer(id='footer1')
            hr
            p Copyright &copy; 2022 The-BOIS
        footer(id='footer2')
            hr
            p Powered by TMDB 
                img(id='TMDBlogo' src='img/tmdb1.jpeg' alt='TMDBlogo')
        