doctype html 
html 
    head 
        title CineSearch
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
    body
        div(class="main") 
            

        div(class="topnav")
            a(class="active" href="#home") User
            a(href="#news") Categories
            a(href="#about") About 
            a(href="#review") Write a Review
            h1(id="HomepageHeader") CineSearch

        block content
        
        footer(id='footer1')
            hr
            p Copyright &copy; 2022 The-BOIS
        footer(id='footer2')
            hr
            p Powered by TMDB 
                img(id='TMDBlogo' src='img/tmdb1.jpeg' alt='TMDBlogo')
        