extends Base_layout
 
block content 

    h1(id='chosenMovieHeading')

    div(class='moviePoster')
        
    div(class='movieInfo')

    h2(class='watchLocation')
    
    script(src="js/TMDBapi.js")
    script(src="js/chosen_movie.js")