extends Base_layout

block content 

    h1(id='featureheading') Design Artifacts 


    h2 Checkout Interviews, Scenarios, Personas, User Stories and Features 

        h3(id="Interviewheader") Interviews
        a(href="Interview1")
            button(class="Interviewbutton") Interview 1
        a(href="Interview2")
            button(class="Interviewbutton") Interview 2
        a(href="Interview3")
            button(class="Interviewbutton") Interview 3
        a(href="Interview4")
            button(class="Interviewbutton") Interview 4
        a(href="Interview5")
            button(class="Interviewbutton") Interview 5
        br

        h3(id="Scenarioheader") Scenarios
        a(href="Scenario1")
            button(class="Interviewbutton") Scenario 1
        a(href="Scenario2")
            button(class="Interviewbutton") Scenario 2
        br

        h3(id="Personaheader") Personas
        a(href="Persona1")
            button(class="Interviewbutton") Persona 1
        a(href="Persona2")
            button(class="Interviewbutton") Persona 2
        br

        h3(id="userstoryheader") User Stories 
        a(href="user_stories")
            button(class="Interviewbutton") User Story
        br

        h3(id="featureheader") Features
        a(href="features")
            button(class="Interviewbutton") Features 
        br
    
