extends Base_layout

block content 

    h1(id='featureheading') Design Artifacts 

    br

    h2 Checkout Interviews, Persona, User Stories, Scenarios and Features 
        h3(id="VisionStatement") Interviews
        button(class="Interviewbutton") Interview 1
        br
        h3(id="VisionStatement") Scenarios
        br
        h3(id="VisionStatement") Persona   
        br
        h3(id="VisionStatement") User Stories 
        br
        h3(id="VisionStatement") Features
