extends Base_layout

block content 

    h1(id='featureheading') Design Artifacts 


    h2 Checkout Interviews, Personas, Scenarios, User Stories and Features 

        h3(id="Interviewheader") Interviews
        a(href="Interview1")
            button(class="Interviewbutton") Interview 1
        a(href="Interview2")
            button(class="Interviewbutton") Interview 2
        a(href="Interview3")
            button(class="Interviewbutton") Interview 3
        br

        h3(id="Personaheader") Personas
        a(href="Persona1")
            button(class="Interviewbutton") Persona 1
        a(href="Persona2")
            button(class="Interviewbutton") Persona 2
        a(href="Persona3")
            button(class="Interviewbutton") Persona 3
        br

        h3(id="Scenarioheader") Scenarios
        a(href="Scenario1")
            button(class="Interviewbutton") Persona 1 - Scenario 1
        a(href="Scenario2")
            button(class="Interviewbutton") Persona 1 - Scenario 2
        a(href="Scenario3")
            button(class="Interviewbutton") Persona 1 - Scenario 3
        a(href="Scenario4")
            button(class="Interviewbutton") Persona 2 - Scenario 1
        a(href="Scenario5")
            button(class="Interviewbutton") Persona 2 - Scenario 2
        a(href="Scenario6")
            button(class="Interviewbutton") Persona 2 - Scenario 3
        a(href="Scenario7")
            button(class="Interviewbutton") Persona 3 - Scenario 1
        a(href="Scenario8")
            button(class="Interviewbutton") Persona 3 - Scenario 2
        a(href="Scenario9")
            button(class="Interviewbutton") Persona 3 - Scenario 3            
        br

        h3(id="userstoryheader") User Stories 
        a(href="user_stories")
            button(class="Interviewbutton") User Stories
        br

        h3(id="featureheader") Features
        a(href="features")
            button(class="Interviewbutton") Features 
        br

        h3(id="featureheader") Check out our Design Artifact Video
        a(href="https://video.bellarmine.edu/media/CineSearch+Design+Artifacts+Video/1_ujqe9f6h")
            button(class="Interviewbutton") Video 
        br
    
