extends Base_layout
 
block content 

    h1(id='featureheading') Features
    h2(id='scenario-title') Feature List 
    p(id='feature-title') Feature 1: Movie Reviews/Information
    ul(id='feature-format')
        li As a movie fanatic, I want to have easy access to trusted reviews for the popular movies of today (Persona: Haley, Scenario: 1). 
        li As a movie fanatic, I want to be able to see info pertaining to a specific movie, by simply clicking on the title (Persona: Haley, Scenario: 1). 
        li As a movie fanatic, I want to be able to post my personal reviews about a movie (Persona: Haley, Scenario: 1). 
        li As a movie fanatic, I would like a way to rate the movies or keep personal notes, for all the movies that I watch (Persona: Haley, Scenario: 2). 
    
    p(id='feature-title') Feature 2: Movie Location
    ul(id='feature-format')
        li As a movie fanatic, I want to have links that redirect me to the source where the movie I wish to see is at (Persona: Haley, Scenario: 1). 
        li As a movie fanatic, I would like for there to be links that effortlessly redirect me to the streaming locations of the movies I want to watch (Persona: Haley, Scenario: 2). 
        li As a movie fanatic, I would want for there to be a list of all the different streaming services from which a certain movie can be streamed (Persona: Haley, Scenario: 2). 

    p(id='feature-title') Feature 3: Easy Film Access
    ul(id='feature-format')
        li As a movie fanatic, I want the web page's homepage to easily display the website’s various resources (e.g., Popular Movies, Reviews, Movies by Category) (Persona: Haley, Scenario: 1). 
        li As a movie fanatic, I want to have links that redirect me to the source where the movie I wish to see is at (Persona: Haley, Scenario: 1). 
        li As a movie fanatic, I would like for there to be links that effortlessly redirect me to the streaming locations of the movies I want to watch (Persona: Haley, Scenario: 2). 
        li As a movie fanatic, I would want for there to be a list of all the different streaming services from which a certain movie can be streamed (Persona: Haley, Scenario: 2). 
 
    p(id='feature-title') Feature 4: Movie Categorization
    ul(id='feature-format')
        li As a movie fanatic, I want to be able to quickly find a list of the most popular movies of all time. (Persona: Haley, Scenario: 1).  
        li As a movie fanatic, I want to be able to view different categories of movies based on their popularity (Persona: Haley, Scenario: 1). 
        li As a movie fanatic, As a movie fanatic, I don’t want to have to scroll through hundreds of movies before finding one that interests me (Persona: Haley, Scenario: 1). 
        li As a movie fanatic, I would like to search for movies by themes (Persona: Haley, Scenario: 2). 
        li As a movie fanatic, I would like to be able to filter movies by various categories with the click of a button (Persona: Haley, Scenario: 2).  

    p(id='feature-title') Feature 5: Favoriting System
    ul(id='feature-format')
        li As a movie fanatic, I would hope for there to be a favoriting system that allows me to save all of the movies I star in a specific location (Persona: Haley, Scenario: 2). 
        li As a movie fanatic, I want to see the films starred (liked) by other users of the website (Persona: Haley, Scenario: 2). 
        li As a movie fanatic, I would like a way to rate the movies or keep personal notes, for all the movies that I watch (Persona: Haley, Scenario: 2). 
    
    p(id='feature-title') Feature 6: User Profiles
    ul(id='feature-format')
        li As a movie fanatic, I would want a webpage that allows me to make a profile that saves my movie preferences so that I can return to the page and pick up from where I started (Persona: Haley, Scenario: 2). 
        li As a movie fanatic, I want to see the films starred (liked) by other users of the website (Persona: Haley, Scenario: 2). 
        


