extends Base_layout
 
block content 

    h1(id='featureheading') Features
    h2(id='scenario-title') Feature List 
    p(id='feature-title') Feature 1: Movie Reviews/Information
    ul(id='feature-format')
        li As a movie fanatic, I want to have easy access to trusted reviews for the popular movies of today (Persona: Haley, Scenario: 1). 
        li As a movie fanatic, I want to be able to see info pertaining to a specific movie, by simply clicking on the title (Persona: Haley, Scenario: 1). 
        li As a movie fanatic, I want to be able to post my personal reviews about a movie (Persona: Haley, Scenario: 1). 
        li As a movie fanatic, I would like a way to rate the movies or keep personal notes, for all the movies that I watch (Persona: Haley, Scenario: 2). 
        li As a movie fanatic, I would like to save my personal reflections of movies I have seen in a private location (Persona: Haley, Scenario: 3). 
        li As a parent, I need to be able to find movies that are age appropriate (Persona: Elizabeth, Scenario 1). 
        li As a parent, I need to be able to see ratings other parents gave movies, to know if it’s right for my family (Persona: Elizabeth, Scenario 1). 
        li As a parent, I want to be able to know beforehand what content is in a movie that may be too inappropriate for kids (Persona: Elizabeth, Scenario 1). 
        li As a parent, I would like parent testimonies about a movie’s maturity to be as unbiased as possible (Persona: Elizabeth, Scenario 1). 
        li As a parent, I would like there to be some type of score given to movies so that I can quickly identify if a movie is safe for my children (Persona: Elizabeth, Scenario 1). 
        li As a user, I want the movies I have downloaded to still display all of their relevant information (e.g., Title, Length, Rating, Themes, Summary, Reviews not necessary) (Persona Elizabeth, Scenario 3). 
    
    p(id='feature-title') Feature 2: Movie Location
    ul(id='feature-format')
        li As a movie fanatic, I want to have links that redirect me to the source where the movie I wish to see is at (Persona: Haley, Scenario: 1). 
        li As a movie fanatic, I would like for there to be links that effortlessly redirect me to the streaming locations of the movies I want to watch (Persona: Haley, Scenario: 2). 
        li As a movie fanatic, I would want for there to be a list of all the different streaming services from which a certain movie can be streamed (Persona: Haley, Scenario: 2). 
        li As a parent, I want easy access to the locations of the movies that I want to watch with my children (Persona: Elizabeth, Scenario 1). 
        li As a user, I want to be able to view my favorited movies, to see when they’re on a streaming service I own (Persona: Marco, Scenario 2). 
        li As a user, I want to be able to go directly to a streaming service through the app (Persona: Marco, Scenario 3). 

    p(id='feature-title') Feature 3: Easy Film Access
    ul(id='feature-format')
        li As a movie fanatic, I want the web page's homepage to easily display the website’s various resources (e.g., Popular Movies, Reviews, Movies by Category) (Persona: Haley, Scenario: 1). 
        li As a movie fanatic, I want to have links that redirect me to the source where the movie I wish to see is at (Persona: Haley, Scenario: 1). 
        li As a movie fanatic, I would like for there to be links that effortlessly redirect me to the streaming locations of the movies I want to watch (Persona: Haley, Scenario: 2). 
        li As a movie fanatic, I would want for there to be a list of all the different streaming services from which a certain movie can be streamed (Persona: Haley, Scenario: 2). 
        li As a parent, I want my children to be able to easily navigate through the app to find movies that they like (Persona: Elizabeth, Scenario 2). 
        li As a user, I want to be able to go directly to a streaming service through the app (Persona: Marco, Scenario 3). 
 
    p(id='feature-title') Feature 4: Movie Categorization
    ul(id='feature-format')
        li As a movie fanatic, I want to be able to quickly find a list of the most popular movies of all time. (Persona: Haley, Scenario: 1).  
        li As a movie fanatic, I want to be able to view different categories of movies based on their popularity (Persona: Haley, Scenario: 1). 
        li As a movie fanatic, As a movie fanatic, I don’t want to have to scroll through hundreds of movies before finding one that interests me (Persona: Haley, Scenario: 1). 
        li As a movie fanatic, I would like to search for movies by themes (Persona: Haley, Scenario: 2). 
        li As a movie fanatic, I would like to be able to filter movies by various categories with the click of a button (Persona: Haley, Scenario: 2).
        li As a parent, I want to be able to filter and search for movies that are family friendly (Persona: Elizabeth, Scenario 1). 
        li As a parent, I would like for popular movies to show up first in my search for child-safe movies (Persona: Elizabeth, Scenario 1). 
        li As a parent and user of CineSearch, I do not want the actions of my children in “Parent lock/Safe mode” to affect the suggestions of movies shown to me outside of this feature. Further, the app should not see the movies my children watch in this mode and make suggestions for me based on this information (Persona: Elizabeth, Scenario 2). 

    p(id='feature-title') Feature 5: Favoriting System
    ul(id='feature-format')
        li As a movie fanatic, I would hope for there to be a favoriting system that allows me to save all of the movies I star in a specific location (Persona: Haley, Scenario: 2). 
        li As a movie fanatic, I want to see the films starred (liked) by other users of the website (Persona: Haley, Scenario: 2). 
        li As a movie fanatic, I would like a way to rate the movies or keep personal notes, for all the movies that I watch (Persona: Haley, Scenario: 2). 
        li As a user, I want to be able to have my favorites considered when looking for a streaming service to buy (Persona: Marco, Scenario 2). 
        li As a user, I want to be able to favorite movies, and have the app recommend me movies based on my favorites (Persona: Marco, Scenario 2). 
        li As a user, I want to be able to view my favorited movies, to see when they’re on a streaming service I own (Persona: Marco, Scenario 2). 
    
    p(id='feature-title') Feature 6: User Profiles
    ul(id='feature-format')
        li As a movie fanatic, I would want a webpage that allows me to make a profile that saves my movie preferences so that I can return to the page and pick up from where I started (Persona: Haley, Scenario: 2). 
        li As a movie fanatic, I want to see the films starred (liked) by other users of the website (Persona: Haley, Scenario: 2). 
        li As a movie club member, I would like there to be a way to easily find my friends on the webapp (Persona: Haley, Scenario: 3). 
        li As an online forum user, I would want the user creation process to be very quick and simple (Persona: Haley, Scenario: 3). 
        li As an online forum user, I would like there to be a way to make my profile private (Persona: Haley, Scenario: 3). 
        li As an online forum user, I want to be able to follow certain individuals and see their posts in a specific location (Persona: Haley, Scenario: 3). 
        li As a user, I want to be able to log into my account even when offline (Persona Elizabeth, Scenario 3). 
        li As a user, I need my private information locked and not easily accessible by others  (Persona: Marco, Scenario 1). 
        li As a user, I want to be able to make my account private so that other users cannot see my name or information online in the app (Persona: Marco, Scenario 1).
        li As a user, I want to be able to save my payment information for quick purchases, but want my payment hidden till I access it again 
        li As a user, I want the option to completely remain incognito on the app. 
        
    p(id='feature-title') Feature 7: Public/Private Forums
    ul(id='feature-format')
        li As a movie club member, I would like there to be a way to create discussions on a private forum that only my friends can see (Persona: Haley, Scenario: 3).  
        li As a movie club member, I would like there to be a way to add reactions to my friends’ posts (Persona: Haley, Scenario: 3). 
        li As an online forum user, I want to be able to follow certain individuals and see their posts in a specific location (Persona: Haley, Scenario: 3). 

    p(id='feature-title') Feature 8: Group Creation
    ul(id='feature-format')
        li As a movie club member, I would like there to be a way to create groups online so I can invite my friends (Persona: Haley, Scenario: 3).  
        li As a movie club member, I would like there to be a way to easily find my friends on the webapp (Persona: Haley, Scenario: 3). 

    p(id='feature-title') Feature 9: Downloadable Content
    ul(id='feature-format')
        li As a user, I want there to be a “Downloads” tab where I can easily find all of the movies stored on my personal device via the app (Persona Elizabeth, Scenario 3). 
        li As a user, I want to be able to download movies directly onto my personal device from links provided to me (Persona Elizabeth, Scenario 3). 
        li As a user, I want to be confident that I am not stealing movies, or illegally acquiring them. I don’t mind being redirected to another platform where the movie is downloaded, as long as it is secure (Persona Elizabeth, Scenario 3). 
        li As a user, I want the app to still have some functionality even without the presence of Wi-Fi. 
        li As a user, I want the movies I have downloaded to still display all of their relevant information (e.g., Title, Length, Rating, Themes, Summary) (Persona Elizabeth, Scenario 3). 
        li As a user, I want to be able to drag and drop movies downloaded on my device into the downloads folder of the app for later use (Persona Elizabeth, Scenario 3). 
        li As a user, I want there to be a variety of download sizes for movies that I am looking into storing on my personal device. I don’t want to be limited to just one size for each movie (Persona Elizabeth, Scenario 3). 
        
    p(id='feature-title') Feature 10: Parental Controls
    ul(id='feature-format')
        li As a parent that works, I want to be able to lock content that my kid could access without me seeing (Persona: Elizabeth, Scenario 2). 
        li As a parent, I need to be able to block any movies with content I don’t want my kid to see (Persona: Elizabeth, Scenario 2). 
        li As a parent, I want there to be an easy way to activate parental controls for the movies that my children will be viewing (Persona: Elizabeth, Scenario 2). 
        li As a parent, I need there to be an easy way for me to deactivate parental controls, while still ensuring my children cannot (Persona: Elizabeth, Scenario 2). 
        li As a parent, I want to be confident that my children will not see the comments from other individuals on the app while in safe-viewing mode (Persona: Elizabeth, Scenario 2).  
        li As a parent, I would like there to be a way to set the age of my children, so that they can watch movies for their respective maturity (Persona: Elizabeth, Scenario 2). 
        li As a parent and user of CineSearch, I do not want the actions of my children in “Parent lock/Safe mode” to affect the suggestions of movies shown to me outside of this feature. Further, the app should not see the movies my children watch in this mode and make suggestions for me based on this information (Persona: Elizabeth, Scenario 2). 
        
    p(id='feature-title') Feature 11: Security
    ul(id='feature-format')
        li As a user, I need my profile to be secure and not easily stolen (Persona: Marco, Scenario 1). 
        li As a user, I want there to be a verification system, so that not just anyone could login with only my password and username (Persona: Marco, Scenario 1). 
        li As a user, I need my private information locked and not easily accessible by others  (Persona: Marco, Scenario 1). 
        li As a user, I want to be able to make my account private so that other users cannot see my name or information online in the app (Persona: Marco, Scenario 1). 
        li As a user I want the security to be more than just a username and password (Persona: Marco, Scenario 1). 
        li As a user, I need to be able to verify my login with a linked phone number or email, for security purposes (Persona: Marco, Scenario 1). 
        li As a user, I want to be able to link a trusted device to my account, so that I don't need to verify my account every time I log in (Persona: Marco, Scenario 1). 
        li As a user, I want to be able to link multiple phone numbers or emails to my account, so that I can verify with different numbers or emails (Persona: Marco, Scenario 1). 
        li As a user, I do not want an app to have more information about me than it needs to (Persona: Marco, Scenario 2). 
        li As a user, I need to know when someone not myself is trying to access my account (Persona: Marco, Scenario 3). 
        li As a user, I need to ensure my private information is safe by locking my account when someone besides myself tries to access it (Persona: Marco, Scenario 3). 
        li As a user, I need my private information to be taken seriously and not easily accessible for other users to find (Persona: Marco, Scenario 3). 
        li As a user, I want to be able to save my payment information for quick purchases, but want my payment hidden till I access it again (Persona: Marco, Scenario 3). 
        li As a user, I want the option to turn off various 2-step verifications and other seemingly redundant security measures (Persona: Marco, Scenario 3). 
        li As a user, I want the option to completely remain incognito on the app (Persona: Marco, Scenario 3). 

    p(id='feature-title') Feature 12: Curated Streaming Lists
    ul(id='feature-format')
        li As a user, I want to be able to have a curated list of the streaming services I need the most to watch most of the movies I want to see (Persona: Marco, Scenario 2). 
        li As a user, I want to be able to have my favorites considered when looking for a streaming service to buy (Persona: Marco, Scenario 2). 
        li As a user, I want an estimate of the price of buying multiple streaming services (Persona: Marco, Scenario 2). 
        li As a user I’d want to be able to compare prices of the different streaming services CineSearch has (Persona: Marco, Scenario 2). 
        li As a user, I want a vast list of streaming services to view and purchase through the app (Persona: Marco, Scenario 2). 
        li As a user, I want to be able to buy new subscriptions for movies I want to watch through the CineSearch app (Persona: Marco, Scenario 3). 