doctype html 
html 
    head 
        title CineSearch
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
    body
        div(class="main") 
            block content
        
        div(class="topnav")
            a(class="active" href="#home") User
            a(href="#news") Categories
            a(href="#about") About 
            a(href="#review") Write a Review
            h1(id="HomepageHeader") CineSearch

        br

        div(class="about")
            h2 Our Vision for CineSearch 
                h3(id="VisionStatement") CineSearch is the ideal app for all people who are looking to find the perfect movie or series for any occasion. CineSearch is the perfect entertainment companion app which enables users to quickly find films based on their preferences. In addition, users can expect to find authentic testimonies for all listed titles, including honest parental ratings, meaning that parents will no longer have to worry about enduring uncomfortable scenes with their children. Unlike other apps, CineSearch is capable of generating the most affordable personalized payment plan, composing the top streaming services which are required to watch the user’s desired films. Through CineSearch, viewers will find links to their desired films that will automatically redirect them to the corresponding streaming services.
                h3(id="VisionStatement") Check out the
                    a(id="Commercial", href="https://video.bellarmine.edu/media/CineSearch+Commercial/1_xkyd0sct") Cinesearch Product Commercial
            br
            br
            br
            h2 About the Team 
                h3(id="VisionStatement") Spencer Childers -  I am the documentation/testing coordinator for our software design team. I am a computer science major at Bellarmine University with a projected graduation date of Spring 2023. Upon graduation, I would like to enter the field of algorithm development. I come from a small family composed of my parents and little brother aged 9. In my free time, I am typically found hiding away behind my computer screen playing far too many videogames.
                br
                h3(id="VisionStatement") Bobby Gabriel - I am the primary programmer for our team. I am also a computer science major at Bellarmine Unviersity and plan to graduate in 2023. After I graduate, I hope to land a software engineering position in Louisville, KY, or Dayton, OH. Additionally, At Bellarmine, I am a member of the men's lacrosse team. I love exercising, playing sports, and being with my dog.
                br
                h3(id="VisionStatement") Omar Sayang - My name is Omar Sanyang. I am the application designer for our team. I am from Gambian west Africa. I am a junior at Bellarmine University, Computer Engineering Major. I play on Bellarmine Men’s Soccer team.   
                br
                h3(id="VisionStatement") Isaiah Parker - My name is Isaiah Parker and I am the Project Manager for the team. I'm from Mt. Washington Kentucky and I'm studying at Bellarmine University for a degree in Computer Science. When not at school I'm either at work, or spending time with my family and friends. 

        footer(id='footer1')
            hr
            p Copyright &copy; 2022 The-BOIS
        footer(id='footer2')
            hr
            p Powered by TMDB 
                img(id='TMDBlogo' src='img/tmdb1.jpeg' alt='TMDBlogo')
