extends layout 

block content
        h1 Welcome to UMovie!!
        h2 Popular Movies test
        ul
            each movies, i in list_of_movies 
                li=movies.title
                //li=movies.director
                //li=movies.cast