extends Base_layout 


block content 
        
        link(rel="stylesheet" href="https://www.webnots.com/resources/font-awesome/css/font-awesome.min.css")
        div(class="features")
                h2(id="forthepeople") Love Movies? CineSearch is for you!
                div(class="webnots-information webnots-notification-box")
                        text Look up thousands of movies across all streaming platforms
                div(class="webnots-information webnots-notification-box")
                        text Provides honest feedback from real users
                div(class="webnots-information webnots-notification-box")
                        text Creates recommendations based on movies you have watched before 
                div(class="webnots-information webnots-notification-box")
                        text Don't know where to watch a movie? CineSearch will list all of the available streaming services 

        div(class="middlenav")
                img(id='logo1' src='img/logo.png' alt='logo')
                form(id="form1", role="search")
                        input(type="text", id="search", placeholder="Search for Movies", class="search")
                        button(id="button")
                                svg(viewBox="0 0 1024 1024")
                                        path(class="path1" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z")
         
        div(class="about")
            h2 Product Description 
                h3(id="VisionStatement") CineSearch is a user-friendly web app that allows for users to quickly find ratings for the most popular movies of today, the locations to view these productions, and direct links to watch them. 
            br
            h2 Our Vision for CineSearch 
                h3(id="VisionStatement") FOR movie enthusiasts WHO are looking to find the perfect movie for any occasion. THE CineSearch app is a web-based service THAT enables users to find the viewing locations, honest reviews, and viewing recommendations for the popular movies of today. UNLIKE other movie-review platforms, OUR product, CineSearch, is able to suggest movies for the user to watch based on their movie genre preferences.
                h3(id="VisionStatement") Check out the
                    a(id="Commercial", href="https://video.bellarmine.edu/media/CineSearch+Commercial/1_xkyd0sct") Cinesearch Product Commercial
            br
            h2 Inteded Audience
                h3(id="VisionStatement") CineSearch is aimed towards movie buffs who are in need of finding desirable films.
            br
            h2 About the Team 
                h3(id="VisionStatement") Spencer Childers -  I am the documentation/testing coordinator for our team. I am a computer science major at Bellarmine University with a projected graduation date of Spring 2023. Upon graduation, I would like to enter the field of algorithm development. I come from a small family composed of my parents and little brother aged 9. In my free time, I am typically found hiding away behind my computer screen playing far too many videogames.
                br
                h3(id="VisionStatement") Bobby Gabriel - I am the primary programmer for our team. I am also a computer science major at Bellarmine Unviersity and plan to graduate in 2023. After I graduate, I hope to land a software engineering position in Louisville, KY, or Dayton, OH. Additionally, At Bellarmine, I am a member of the men's lacrosse team. I love exercising, playing sports, and being with my dog
                br
                h3(id="VisionStatement") Omar Sayang - I am the application designer for our team. I am from Gambian west Africa. I am a junior at Bellarmine University, Computer Engineering Major. I play on Bellarmine Men’s Soccer team.   
                br
                h3(id="VisionStatement") Isaiah Parker - I am the Project Manager for the team. I'm from Mt. Washington Kentucky and I'm studying at Bellarmine University for a degree in Computer Science. When not at school I'm either at work, or spending time with my family and friends. 

        div(class="moviecategories")
                header(class="main")
                
                script(src="js/search.js") 