doctype html 
html 
    head 
        title CineSearch
        link(rel="stylesheet", href="style.css")
    body 
        block content
        br
        footer(id='footer1')
            hr
            p Copyright &copy; 2022 The-BOIS
        footer(id='footer2')
            hr
            p Powered by TMDB
        img(id='TMDBlogo' src='tmdb1.jpeg' alt='TMDBlogo')