extends Base_layout
 
block content 

    h1(id='featureheading') User Stories
    h2(id='user-title') Persona 1, Scenario 1
    h2(id='userformat') As a movie fanatic, I want to have easy access to trusted reviews for the popular movies of today. 
    h2(id='userformat') As a movie fanatic, I want to be able to quickly find a list of the most popular movies of all time.  
    h2(id='userformat') As a movie fanatic, I want to be able to see info pertaining to a specific movie, by simply clicking on the title.  
    h2(id='userformat') As a movie fanatic, I want to be able to post my personal reviews about a movie. 
    h2(id='userformat') As a movie fanatic, I want to be able to view different categories of movies based on their popularity.   
    h2(id='userformat') As a movie fanatic, I want the web page's homepage to easily display the website’s various resources (e.g., Popular Movies, Reviews, Movies by Category)  
    h2(id='userformat') As a movie fanatic, I want to have links that redirect me to the source where the movie I wish to see is at.  
    h2(id='userformat') As a movie fanatic, I don’t want to have to scroll through hundreds of movies before finding one that interests me.  
    br
    br
    h2(id='user-title') Persona 1, Scenario 2
    h2(id='userformat') As a movie fanatic, I would like to search for movies by themes. 
    h2(id='userformat') As a movie fanatic, I would like to be able to filter movies by various categories with the click of a button. 
    h2(id='userformat') As a movie fanatic, I would hope for there to be a favoriting system that allows me to save all of the movies I star in a specific location.  
    h2(id='userformat') As a movie fanatic, I would like for there to be links that effortlessly redirect me to the streaming locations of the movies I want to watch.  
    h2(id='userformat') As a movie fanatic, I would want a webpage that allows me to make a profile that saves my movie preferences so that I can return to the page and pick up from where I started.  
    h2(id='userformat') As a movie fanatic, I would want for there to be a list of all the different streaming services from which a certain movie can be streamed.  
    h2(id='userformat') As a movie fanatic, I want to see the films starred (liked) by other users of the website. 
    h2(id='userformat') As a movie fanatic, I would like a way to rate the movies or keep personal notes, for all the movies that I watch.  
    br
    br
    h2(id='user-title') Persona 1, Scenario 3
    h2(id='userformat') As a movie fanatic, I want to be able to search for movies using keywords, like “tearjerker” or “suspenseful” 
    h2(id='userformat') As a parent, I want to be able to find movies that are appropriate for my children to watch 
    h2(id='userformat') As a horror movie fan, I want to be able to search for the highest rated horror movies in the last year 
    h2(id='userformat') As a parent, I want to be able to search for new family friendly movies streaming online or at theaters 
    h2(id='userformat') As a movie fanatic, I want to be able to make a list of all my favorite movies
    h2(id='userformat') As a teacher, I need to be able to make sure that a movie is appropriate for the kids in the class 
    h2(id='userformat') As a parent, I want to know how scary a movie is before showing it to my kid 
    h2(id='userformat') As a movie fanatic, I want to see a list of all movies that have won awards 
    