extends Base_layout
 
block content 

    h1(id='featureheading') Persona 2
    h2(id='personaformat') Elizabeth, age 47, is a webpage designer for a large government-owned hospital located in Nashville, Tennessee. Elizabeth spends the majority of her time at work ensuring that webpages meet the company’s standards before being published to the official website. She was born in Columbus, Ohio, but after moving out of her parent's house at 19, Elizabeth has been slowly working her way up in this particular company, requiring her to relocate several times. She has only been working with webpages for the past couple of years but has demonstrated a natural talent for web design. Elizabeth only has a GED and has been extremely fortunate to land the position she currently has. She doesn’t believe that pursuing a college degree will be necessary since she is completely content with working in her current position until retirement. 
    h2(id='personaformat') Currently, Elizabeth lives with her husband and two sons who are both enrolled in grade school. Outside of work, Elizabeth enjoys reading, spending time outdoors with her family, and occasionally watching family-friendly movies. She would love to find a way to find movies that she and her family can safely watch without her children being exposed to inappropriate content.