extends Base_layout
 
block content 

    h1(id='featureheading') Persona 1
    h2(id='personaformat') Haley, age 19, is a part-time barista at a small local coffee shop in Grand Rapids, Michigan. She is currently a freshman taking online classes at Arizona State University, pursuing a degree in mathematics. She lives with her parents and 2 younger brothers. Overall, she is an average student who would rather spend her Saturdays watching TV with her cat Coco instead of studying. In the future, she hopes to become a grade-school teacher for the elementary school she used to attend. 
    h2(id='personaformat') Haley doesn’t have much experience with digital technologies besides the interactions she makes on her social media platforms. Every other Tuesday, her friends come to visit for a movie club meeting where they discuss the films and shows that they have recently seen. She would enjoy having a way to easily figure out which of her streaming platforms she needs to use to watch the films her friends keep on recommending to her.  