body {background-color: rgb(48, 48, 48);}

#HomepageHeader { 
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; 
  text-transform: uppercase;
  margin-top: 5px;
  margin-right: 400px;
  color: rgb(226, 226, 88);
}

h1 {
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; 
  text-transform: uppercase;
  margin-top: 5px;
  color: rgb(226, 226, 88);
}


#Commercial{
  font-family: Arial, Helvetica, sans-serif;
  text-align: left; 
  margin-left: 10px;
  color: rgb(241, 44, 44);
}
#aboutheader{
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-align: left; 
  text-transform: uppercase;
  bottom: 50px;
  color: rgb(226, 226, 88);
}
h2{
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-align: left; 
  color: rgb(255, 255, 255);
}

#VisionStatement{
  font-family: Arial, Helvetica, sans-serif;
  text-align: left; 
  margin-left: 10px;
  color: rgb(255, 255, 255);
}

.features{
  margin-left: 10vh;
  margin-top: 200px;
  width: 600px;
}

.features h2{
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin-top: 5px;
  margin-left: 75px;
  font-size: 24px;
  color: rgb(226, 226, 88);
}

.about {
  margin-top: 20vh;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  text-align: left;
  margin-bottom: 50px;
}

.webnots-notification-box {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
  font-family: verdana, 'open sans', sans-serif;
  margin-bottom: 25px;
  padding: 35px 35px 40px 40px;
  position: relative;
  box-shadow: 0px 1px 5px #999;
  font-size: 21px;
  }

.webnots-notification-box:before {
  font-family: FontAwesome;
  font-size: 28px;
  left: 14px;
  position: absolute;
}

  .webnots-information {
  background-color: #3e3e3e;
  width: 52vh;
  margin-left: 75px;

}

.webnots-information:before {
  content: "\f129";
  margin-left: 4px;
}

.homepagelogo{
  margin-top: -450px;
  margin-left: 115vh;
}

.homepagelogo img{
  border-style: outset;
  border-color: black;
  width: 45vh;
}

.categorieslogo{
  text-align: center;
  margin-top: 125px;
  margin-bottom: -150px;
}

.categorieslogo img{
  width: 45vh;
  border-style: outset;
  border-color: black;
}

#TMDBlogo {
  position: fixed; 
  max-width: 2%;
  z-index: 1;
  margin-bottom: 0.8%; 
  margin-top: -0.8%;
  right: 15px;
}

#footer1 {
  text-align: left;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 2.5rem;
  color: slategrey;
}

#footer2 {
  margin-left: 85%;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 2.5rem;
  color: slategrey;
}

#form1 {
  margin-left: auto;
  margin-right: auto;
  margin-top: -350px;
  background-color:rgb(241, 44, 44);
  width: 450px;
  height: 55px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#form2 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 300px;
  background-color:rgb(241, 44, 44);
  width: 450px;
  height: 55px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  all: unset;
  font-family: Arial, Helvetica, sans-serif;
  font: 16px;
  color: rgb(0, 0, 0);
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}
  
svg {
  color: rgb(0, 0, 0);
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
}

::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  opacity: 0.7; 
}

/* The navigation bar */
.topnav {
  overflow: hidden;
  background-color:rgb(241, 44, 44);
  color: black;
  position: fixed; /* Set the navbar to fixed position */
  top: 0;
	width: 100%;
	float: right;
	height: 45px;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 10;
}

/* Links inside the navbar */
.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.topnav a:hover {
  background: slategrey;
  color: black;
}

.heading{
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; 
  text-transform: uppercase;
  margin-left: 100px;
  color: rgb(241, 44, 44);
}

.movie-list{
  width: 100%;
  height: 450px;
  margin-top: 100px;
  top: 125px;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: rgb(48, 48, 48);        /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(241, 44, 44)e;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 1px solid rgb(241, 44, 44);  /* creates padding around scroll thumb */
}

.movie-category{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: left;
  text-transform: capitalize;
}

.movie-container{
  width: 125%;
  height: 500px;
  display: flex;
  align-items: center;
}

.movie{
  flex: 0 0 auto;
  width: 20%;
  height: 500px;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}

.movie img{
  width: 100%;
  height: 300px;
  object-fit: fill;
  border-style: solid;
  border-color: black;
}

.movie p{
  overflow: hidden;
  height: 35px;
  border-radius: 25px;
  background-color: #000000;
}

.movie-title{
  color: rgb(226, 226, 88);
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.searched-movie{
  flex: 0 0 auto;
  height: 600px;
  text-align: center;
  cursor: pointer;
  position: relative;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.searched-movie img{
  width: auto;
  height: 500px;
  object-fit: fill;
  border-style: solid;
  border-color: black;
}

.searched-movie p{
  overflow: hidden;
  height: 35px;
  border-radius: 25px;
  background-color: #000000;
}

.searched-movie-title{
  color: rgb(226, 226, 88);
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

}

#featureheading{
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-align: left; 
  text-transform: uppercase;
  margin-top: 50px;
  color: rgb(226, 226, 88);
}

.Interviewbutton{
  background-color: rgb(241, 44, 44);
  color: black;
  width: 200px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  text-align: center;
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border-color: #000000;
}

a { text-decoration: none; }

#Interviewheader{
  font-family: Arial, Helvetica, sans-serif;
  text-align: left; 
  margin-left: 10px;
  color: rgb(255, 255, 255);
}

#Scenarioheader{
  font-family: Arial, Helvetica, sans-serif;
  text-align: left; 
  margin-left: 10px;
  color: rgb(255, 255, 255);
}

#Personaheader{
  font-family: Arial, Helvetica, sans-serif;
  text-align: left; 
  margin-left: 10px;
  color: rgb(255, 255, 255);
}

#userstoryheader{
  font-family: Arial, Helvetica, sans-serif;
  text-align: left; 
  margin-left: 10px;
  color: rgb(255, 255, 255);
}

#featureheader{
  font-family: Arial, Helvetica, sans-serif;
  text-align: left; 
  margin-left: 10px;
  color: rgb(255, 255, 255);
}

#personaformat{
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-align: left; 
  font-size: xx-large;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  color: rgb(255, 255, 255);
  text-indent: 75px;
}

#scenario-title{
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; 
  font-size: xx-large;
  text-transform: uppercase;
  font-style: italic;
  color: rgb(255, 255, 255);
}

#user-title{
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; 
  font-size: 40px;
  text-transform: uppercase;
  font-style: italic;
  color: rgb(255, 255, 255);
}

#userformat{
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; 
  font-size: xx-large;
  font-style: italic;
  margin-left: 5%;
  margin-right: 5%;
  color: rgb(255, 255, 255);
  text-indent: 75px;
}

#interview-title{
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; 
  font-size: 40px;
  text-transform: uppercase;
  font-style: italic;
  color: rgb(255, 255, 255);
}
#interviewformat{
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-align: left; 
  font-size: xx-large;
  font-style: italic;
  font-weight: bolder;
  margin-left: 5%;
  margin-right: 5%;
  color: rgb(255, 255, 255);
}

#interview-answer{
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-align: left; 
  font-size: xx-large;
  font-style: italic;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 3%;
  color: rgb(255, 255, 255);
}

#feature-title{
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-align: left; 
  font-size: xx-large;
  font-style: italic;
  font-weight: bolder;
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  color: rgb(255, 255, 255);
}

#feature-format{
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-align: left; 
  font-size: xx-large;
  font-style: italic;
  margin-left: 5%;
  margin-right: 5%;
  color: rgb(255, 255, 255);
}
.chosenMovie {
  margin-top: 40px;
  margin-left: 200px;
}
.chosenMovie img{
  border-style: solid;
  border-color: black;
  box-sizing: border-box;
  height: 75vh;

}

#chosenMovieHeading{
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-align: left; 
  text-transform: uppercase;
  margin-top: 50px;
  color: rgb(226, 226, 88);
}


.chosenMovieInfo p{
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 30px;
  line-height: 1.3;
}

.chosenMovieInfo{
  width: 50vh;
  padding: 35px;
  margin: 20px;
  margin-left:80vh;
  margin-top: -70vh;
  border: 10px solid rgb(241, 44, 44);

}

.chosenMovieReview{
  margin-top: 45vh;
  text-align: center;
}

.chosenMovieReview h2 {
  font-size: 36px;
  text-align: center;
  
}

#input{
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
}

#form3{
  margin:auto;
  width:50%;
}


#form3 textarea {
  background-color: rgb(40, 40, 40);
  color:aliceblue;
  border-radius: 5px;
  border-color: aliceblue;
  margin: auto;
  resize: none;

}

#form3 textarea:placeholder-shown{
  color:aliceblue;
  font-style: italic;
}

#form3 input{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: rgb(241, 44, 44);
  border: 1px solid;
  border-color: #ddd #bbb #999;
  cursor: pointer;
  color: black;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  overflow: visible;
  margin: auto;
  text-align: center;
  padding: 3px 10px;
  width: 630px;
}

#userReview{
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-align: left; 
  color: rgb(226, 226, 88);
  font-size: 32px;
  margin-top: 50px;
}

.displayMovieReview p{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 24px;
  margin-left: 45px;
  font-style: italic;
  font-weight: bold;
}