body {background-color: rgb(48, 48, 48);}
h1 { 
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
    text-transform: uppercase;
    color: rgb(226, 226, 88);
    
    }

#logo1 { 
    max-width: 10%;
    position: absolute;
    top: 10px;
    right: 10px;
}

#TMDBlogo {
    max-width: 2.7%;
    position: absolute;
    bottom: 3px;
    right: 20px;
}

#footer1 {
    text-align: left;
    position: fixed;
    bottom: 10px;
    width: 100%;
    height: 2.5rem;
    color: slategrey;

}

#footer2 {
    margin-left: 85%;
    position: fixed;
    bottom: 10px;
    width: 100%;
    height: 2.5rem;
    color: slategrey;
}

form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    background-color:rgb(241, 44, 44);
    width: 450px;
    height: 55px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  input {
    all: unset;
    font: 16px system-ui;
    color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }

  button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }
  
  svg {
    color: rgb(0, 0, 0);
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
  }

  ::placeholder {
    color: rgb(0, 0, 0);
    opacity: 0.7; 
  }