body {background-color: rgb(48, 48, 48);}
h1 { 
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
    text-transform: uppercase;
    color: rgb(226, 226, 88);
    
    }

img { 
    max-width: 10%;
    width: 10%;
    position: absolute;
    top: 10px;
    right: 10px;
    
}

/**sytle='width:500px; heightody:500px;' style = "border-radius: 50%;" */

footer {
    text-align: left;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}