body {background-color: rgb(48, 48, 48);}

#HomepageHeader { 
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; 
  text-transform: uppercase;
  margin-top: 5px;
  margin-right: 400px;
  color: rgb(226, 226, 88);
}

h1 {
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; 
  text-transform: uppercase;
  margin-top: 5px;
  color: rgb(226, 226, 88);
}

#forthepeople{
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-align: left; 
  text-transform: uppercase;
  margin-top: 5px;
  margin-left: 20px;
  color: rgb(226, 226, 88);
}

#Commercial{
  font-family: Arial, Helvetica, sans-serif;
  text-align: left; 
  margin-left: 10px;
  color: rgb(241, 44, 44);
}
#aboutheader{
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-align: left; 
  text-transform: uppercase;
  bottom: 50px;
  color: rgb(226, 226, 88);
}
h2{
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-align: left; 
  color: rgb(255, 255, 255);
}

#VisionStatement{
  font-family: Arial, Helvetica, sans-serif;
  text-align: left; 
  margin-left: 10px;
  color: rgb(255, 255, 255);
}
.features{
  margin-top: 100px;
  margin-bottom: 150px;

}

.about {
  margin-top: 200px;
  margin-bottom: 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  color: rgb(255, 255, 255);
}

.webnots-notification-box {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
  font-family: verdana, 'open sans', sans-serif;
  margin-bottom: 25px;
  padding: 10px 14px 10px 44px;
  position: relative;
  box-shadow: 0px 1px 5px #999;
  }

.webnots-notification-box:before {
  font-family: FontAwesome;
  font-size: 21px;
  left: 14px;
  position: absolute;
  }
  .webnots-information {
  background-color: #3e3e3e;
  width: 300px;
  margin-left: 75px;
  }
  .webnots-information:before {
  content: "\f129";
  margin-left: 4px;
  }

#logo1 { 
  border-style: outset;
  border-color: black;
  max-width: 15%;
  position: absolute;
  margin-top: -5%;
  margin-right: 750%;
  margin-left: 75%;
}

#TMDBlogo {
  position: fixed; 
  max-width: 2%;
  z-index: 1;
  margin-bottom: 0.8%; 
  margin-top: -0.8%;
  right: 15px;
}

#footer1 {
  text-align: left;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 2.5rem;
  color: slategrey;
}

#footer2 {
  margin-left: 85%;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 2.5rem;
  color: slategrey;
}

form {
  margin-left: auto;
  margin-right: auto;
  margin-top: -350px;
  background-color:rgb(241, 44, 44);
  width: 450px;
  height: 55px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  all: unset;
  font-family: Arial, Helvetica, sans-serif;
  font: 16px;
  color: rgb(0, 0, 0);
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}
  
svg {
  color: rgb(0, 0, 0);
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
}

::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  opacity: 0.7; 
}

/* The navigation bar */
.topnav {
  overflow: hidden;
  background-color:rgb(241, 44, 44);
  color: black;
  position: fixed; /* Set the navbar to fixed position */
  top: 0;
	width: 100%;
	float: right;
	height: 45px;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 10;
}

/* Links inside the navbar */
.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.topnav a:hover {
  background: slategrey;
  color: black;
}

.heading{
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; 
  text-transform: uppercase;
  margin-left: 100px;
  color: rgb(241, 44, 44);
}

.movie-list{
  width: 100%;
  height: 450px;
  margin-top: 100px;
  top: 125px;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: rgb(48, 48, 48);        /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(241, 44, 44)e;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 1px solid rgb(241, 44, 44);  /* creates padding around scroll thumb */
}

.movie-category{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: left;
  text-transform: capitalize;
}

.movie-container{
  width: 125%;
  height: 500px;
  display: flex;
  align-items: center;
}

.movie{
  flex: 0 0 auto;
  width: 20%;
  height: 500px;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}

.movie img{
  width: 100%;
  height: 300px;
  object-fit: fill;
  border-style: solid;
  border-color: black;
}

.movie p{
  color: rgb(226, 226, 88);
  text-transform: capitalize;
  height: 20px;
  overflow: hidden;
}