extends Base_layout
 
block content 

    h1(id='featureheading') Interview 1
    h2(id='interview-title') Gretchen, Age 27
    p(id='interviewformat') What are some of your favorite hobbies? 
        p(id='interview-answer') She enjoys midday naps, reading, cleaning, and video games. 
    p(id='interviewformat') What does a typical day look like for you?
        p(id='interview-answer') She usually works early morning shifts at a coffee shop. In the evenings, she will occasionally take commissions for digital artwork. In her free time after all the work is said and done, Gretchen turns to her hobbies, with the majority of her time being spent playing PC games. 
    p(id='interviewformat') What is your relationship with movies and shows? 
        p(id='interview-answer') She typically always turns to Netflix and prefers to keep to the genre of fantasy. She is definitely fond of a good movie from time to time.  
    p(id='interviewformat') Could you estimate your average monthly spending on the streaming services you tune into? 
        p(id='interview-answer') ~$40 
    p(id='interviewformat') How do you decide what movies you are going to watch? 
        p(id='interview-answer') Gretchen tends to look at the thumbnails when scrolling through the movies. If one catches her eye, she usually ends up looking into it. She rarely ever researches the movies she intends to watch ahead of time.  
    p(id='interviewformat') Do you often end up visiting multiple different streaming services before finding a movie that you would like to watch?  
        p(id='interview-answer') She usually doesn’t swap between different streaming services. When looking for a movie, she will choose the service based on the genre of the movie. If it is a fantasy film, she tends to go to Disney first. If she is looking for a solid documentary, she chooses Netflix.   
    p(id='interviewformat') Would you use an external service to help you determine what to watch?  
        p(id='interview-answer') No, probably not.   
    p(id='interviewformat') Which of our product’s current features interests you?  
        p(id='interview-answer') Nothing really called out to her.    
    p(id='interviewformat') Which of the features do you think you deem poor?   
        p(id='interview-answer') The parent review feature doesn’t really apply to her as she doesn’t have any children.    
    p(id='interviewformat') If the feature is to remain part of CineSearch, how would you go about improving this feature?
        p(id='interview-answer') She argues that these parent reviews should be void of any forms of bias when discussing the various contents of a movie that may be sensitive to some.  
    p(id='interviewformat') Do you have any suggestions for additional features that you believe would improve CineSearch? 
        p(id='interview-answer') Watch lists. Include a list of shows and movies that may be getting removed from certain streaming services. “Watch now before it goes away.” An ability to make playlists for various moods. “Movies to watch while you are sad.” 