extends Base_layout
 
block content 

    h1(id='featureheading') Interview 2
    h2(id='interview-title') Gracie, Age 21
    p(id='interviewformat') What are some of your favorite hobbies? 
        p(id='interview-answer') Gracie enjoys reading, listening to music, hanging out with friends, and watching movies
    p(id='interviewformat') What does a typical day look like for you?
        p(id='interview-answer') She works an evening shift most times. She prefers staying up late after her shift and sleeping in during the day. Outside of work, and when she doesn’t have to watch her siblings, she prefers to be watching tv most of the time. Her other hobbies are performed less regularly.   
    p(id='interviewformat') What is your relationship with movies and shows? 
        p(id='interview-answer') She watches TV for 2-3 hours a day, not sticking to shows and movies of a specific genre.    
    p(id='interviewformat') Could you estimate your average monthly spending on the streaming services you tune into? 
        p(id='interview-answer') ~$15 
    p(id='interviewformat') How do you decide what movies you are going to watch? 
        p(id='interview-answer') She usually will watch whatever pops up in the popular section of the streaming service. She also enjoys going back and watching her favorite-of-all-time movies.   
    p(id='interviewformat') Do you often end up visiting multiple different streaming services before finding a movie that you would like to watch?  
        p(id='interview-answer') She finds herself swapping between streaming services a lot.
    p(id='interviewformat') Would you use an external service to help you determine what to watch?  
        p(id='interview-answer') She would be interested in using an app like CineSearch. 
    p(id='interviewformat') Which of our product’s current features interests you?  
        p(id='interview-answer') She really likes the idea of seeing other people's reviews. She believes that there should be reviews that are unbiased if possible.  
    p(id='interviewformat') Which of the features do you think you deem poor?   
        p(id='interview-answer') She thinks all of the features are relatively strong. 
    p(id='interviewformat') Do you have any suggestions for additional features that you believe would improve CineSearch? 
        p(id='interview-answer') Make a way to favorite movies so you can go back and watch them later.  
