extends Base_layout
 
block content 

    h1(id='featureheading') Interview 3
    h2(id='interview-title') Kayla, Age 23
    p(id='interviewformat') What are some of your favorite hobbies? 
        p(id='interview-answer') Kayla likes to play videogames, watch YouTube, roller skate, learn about astrology, and read web-comics.   
    p(id='interviewformat') What does a typical day look like for you?
        p(id='interview-answer') She doesn’t have a ton of time at the moment. She has an all-over-the-place work schedule n Disney world. Every day is a bit different, so it's difficult to create a stable schedule.  
    p(id='interviewformat') What is your relationship with movies and shows? 
        p(id='interview-answer') When she finds the time, she will go to see a movie that piques her interest in theaters. She gravitates towards movies over shows due to her worrying about not having the time to finish a show before losing interest. 
    p(id='interviewformat') Could you estimate your average monthly spending on the streaming services you tune into? 
        p(id='interview-answer') ~$30 
    p(id='interviewformat') How do you decide what movies you are going to watch? 
        p(id='interview-answer') She opens a streaming service and scrolls until a title or thumbnail pops out at her.  
    p(id='interviewformat') Do you often end up visiting multiple different streaming services before finding a movie that you would like to watch?  
        p(id='interview-answer') Not at all. Many times, she will just put something on for background noise. 
    p(id='interviewformat') Would you use an external service to help you determine what to watch?  
        p(id='interview-answer') No, probably not.   
    p(id='interviewformat') Which of our product’s current features interests you?  
        p(id='interview-answer') Nothing really interests her.    
    p(id='interviewformat') Which of the features do you think you deem poor?   
        p(id='interview-answer') She doesn’t care for the idea of parent ratings.      
    p(id='interviewformat') If the feature is to remain part of CineSearch, how would you go about improving this feature?
        p(id='interview-answer') She thinks that this feature doesn’t seem too necessary. Parents should be able to just look at reviews. Having a child rating section doesn’t really seem too necessary – a bit redundant.   
    p(id='interviewformat') Do you have any suggestions for additional features that you believe would improve CineSearch? 
        p(id='interview-answer') Nope. 