extends Base_layout
 
block content 

    h1(id='featureheading') Scenario 8
    h2(id='personaformat') As Marco browses through CineSearch he finds that CineSearch uses a program to create a curated streaming list for you, based on your movie preferences.  
    h2(id='personaformat') As he uses the program’s curation system, it looks at movies he’s watched, favorited, and searched, to put together a list of the streaming services he needs to possess to be able to view most of the movies that fit his liking. The curated list also includes the price of buying all the different services, as well as links to each service, for quick access.  
    h2(id='personaformat') This intrigues Marco about what information CineSearch keeps on its users, but as he finds out, CineSearch only keeps the most important and necessary information on its users. It only monitors a user's interaction with the movies in its database.  