extends Base_layout
 
block content 

    h1(id='featureheading') Scenario 3
    h2(id='personaformat') The 19-year-old movie fanatic, Haley, has been hosting a rapidly growing movie discussion with a group of several friends from school. Currently, after a group member finishes analyzing a movie, they can post all their notes and discussion points in a group chat so that all other members of the group can prepare themselves for the upcoming meeting. However, with the rampant growth of the group, having all these comments posted into a single group chat has begun to get rather overwhelming and unwieldy for members to quickly decipher.
    h2(id='personaformat') Haley remembers that CineSearch has its own user forum that allows for personal reflections on movies. She advises all her friends to create profiles using this function and to post any reflections that they have under their own profiles for the movies that they watch. Each user can open their profile to the public or remain private so that easy access to one another’s pages can be achieved. In addition, Haley can make a small group using CineSearch where she invites all members of her club to post to a single forum if they choose.   
    h2(id='personaformat') A couple of weeks passed by, and each member of the movie group now had time to create a CineSearch profile and add comments on their favorite movies. This method proves to be extremely helpful in organizing the group’s discussions. Thanks, CineSearch!  