extends Base_layout
 
block content 

    h1(id='featureheading') Scenario 7
    h2(id='personaformat') Marco decides that he’d like to maliciously steal and access user’s profiles on CineSearch. He usually has no issue accessing user profiles on other apps, normally the only form of protection is a simple name and password. 
    h2(id='personaformat') However, CineSearch is different from other simple apps. Because CineSearch cares for its users, it goes the extra security mile by having a 2-step verification process with every profile. To log in to a profile, the correct password and username must be entered. Additionally, once a user adds their email or phone number, a one-time verification code will be sent whenever a new device signs into the app. This means that once a user has accessed the app once on a trusted device of their own, they want to have to do the 2-step verification on that specific device again unless fully logged back out of it.   
    h2(id='personaformat') Marco is unable to easily steal other users’ accounts, and CineSearch can successfully protect its users from malicious intent.  