extends Base_layout
 
block content 

    h1(id='featureheading') Scenario 1
    h2(id='scenario-title') Movies with the munchies
    h2(id='personaformat') Haley is a freshman in college who is part of a small movie club composed of her and a few friends. Her group always gets together every other Tuesday to talk about the recent movies and shows that they have been watching over the past couple of weeks. To prepare herself for the club’s get-together, Haley likes to research some of the most popular movies of all time to find one that she will later deconstruct into discussion points. She remembers the web app that was shown to her by one of her movie friends, called CineSearch.  
    h2(id='personaformat') She quickly pulls out her laptop and searches up CineSearch where she is greeted by the user-friendly layout of the webpage. Without much effort, she quickly finds the tab containing some of the most highly rated movies of all time. After seeing one that catches her eye, “Journey to the Center of the Earth,” she clicks on the title to investigate the movie’s summary, along with some of the movie’s reviews. Reviews from multiple different websites, including reviews from CineSearch, pop up all on one easy-to-read page, allowing Haley to quickly determine that this movie is worth her time watching.  
    h2(id='personaformat') That night, she indulged in a pint of ice cream with her cat Coco while watching “Journey to the Center of the Earth” directly from a link from CineSearch. In fact, she enjoyed the movie so much that she decided to go back to CineSearch and leave a 4.5-star review for the movie, feeling confident that she had a banger for this upcoming movie club.  