extends Base_layout
 
block content 

    h1(id='featureheading') Scenario 9
    h2(id='personaformat') Marco wants to see if user payment information is used within the app, or if any other private information is held. 
    h2(id='personaformat') Marco browses and does find where through CineSearch, you can pay and start accounts on other streaming services through the app. Marco hopes that the information is just simply shown on the user’s account, so that it can be easily stolen and used elsewhere.   
    h2(id='personaformat') However, to Marco’s dismay, CineSearch is not irresponsible with its user's private payment and personal information. CineSearch keeps all information behind a locked wall that a user must verify to access. Payment information can be saved within the app to speed up the process of purchasing streaming services, but anytime you want to either view the information or buy another subscription, a 2-step verification through email or phone number must be completed successfully. 
    h2(id='personaformat') As Marco tries to access private information, he is met with a splash screen asking for him to continue with 2-step verification. As well as being notified that their account or information is trying to be accessed, if a user is not actively completing the 2-step themselves, they can click a “this isn’t me” button to have their account locked temporarily. 