extends Base_layout
 
block content 

    h1(id='featureheading') Scenario 6
    h2(id='scenario-title') Need title
    h2(id='personaformat') holder
    h2(id='personaformat') holder  
    h2(id='personaformat') holder  
    h2(id='personaformat') holder