extends Base_layout
 
block content 

    h1(id='featureheading') Scenario 6
    h2(id='personaformat') Elizabeth and her family decide that they are going to take a weekend vacation in their camper to the Grand Ole RV Resort. On the road, the group is teeming with excitement, knowing that they will soon get to go hiking and white-water rafting at the park. Sadly, just before arrival, a treacherous storm rolls in and kills the park’s internet and makes all outside activities unviable.  
    h2(id='personaformat') The family is utterly devastated and hopelessly sits in their camper trying to think of what they can still do together. Suddenly, Elizabeth remembers that she had previously downloaded a few movies using CineSearch. She shuffles through her bag and pulls out her laptop. She loads up CineSearch, but since there isn’t any Wi-Fi, the vast array of movies no longer pops up to her. However, with a little navigation, the titles of all the movies that she had downloaded with the help of CineSearch show up on CineSearch’s “Downloaded Content” page. The group browses through the list, quickly finding something to keep themselves distracted while waiting for their camp’s condition to improve.   