extends Base_layout
 
block content 

    h1(id='featureheading') Scenario 5
    h2(id='personaformat') Elizabeth’s kids are home from school today, but she still has work to do while they’re home. She decides that they can watch movies to get themselves busy while she finishes her work. 
    h2(id='personaformat') As with this, she does not just want them browsing streaming services and picking a random movie that may have more mature content. She wants them to be able to browse movies that are all age appropriate, so they can pick whichever movie they want, and she does not worry about the content involved.   
    h2(id='personaformat') She uses CineSearch because it offers a “parent’s lock” option if desired. This parent’s lock will allow parents to set a lockdown that will affect the movies children can search for and watch. This works by hiding all movies with specific age restrictions, that being movies rated PG-13 and higher.  