extends Base_layout
 
block content 

    h1(id='featureheading') Scenario 4
    h2(id='personaformat') Elizabeth is a mom with two sons enrolled in grade school. Her boys bring back excellent news of having scored 100% on their spelling tests, so she decides to reward them with a special family night filled with some of the boys’ favorite activities. 
    h2(id='personaformat') As part of this, Elizabeth wants to find a movie for her family that is age appropriate for her two sons in elementary class. She wants to be able to make sure that the movie is not just safe for her kids to watch, but enjoyable for them as well.  
    h2(id='personaformat') She finds multiple different possible movie choices for the movie night with her family and uses CineSearch to see the parent rating for each movie. While on CineSearch, she discovers a parent’s guide that contains an expansive list of movies with maturity ratings on each of them from other parents. In minutes, she finds the perfect movie, not only for her boys, but for the whole family.  