# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches: [ "bobby", "isaiah", "spencer", "Omar" ]
  pull_request:
    branches: [ "master" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build_and_deploy:
    runs-on: windows-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Node Build
        shell: pwsh
        run: npm install && ./dist.ps1
      - name: Uploading Artifacts  
        uses: actions/upload-artifact@v3
        with:
          name: dist-master
          path: dist